{% ckan_extends %}

{% block header_logo %} {% if g.site_logo %}
  <a class="logo" href="{{ h.url_for('home.index') }}"><img src="/img/bvrc-datahub-logo.png" alt="{{ g.site_title }}" title="{{ g.site_title }}"></a>
  <p class="by">-BY-</p>
  <a class="logo-bvrc" href="https://bvcentre.ca/" target="_blank"><img src="/img/bvrc-logo.png" alt="Bulkley Valley Research Centre" title="Bulkley Valley Research Centre"></a>
  {% else %}
  <h1>
    <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
  </h1>
  {% if g.site_description %}
  <h2>{{ g.site_description }}</h2>{% endif %} {% endif %} 
</hgroup>
{% endblock %}

{% block header_site_navigation %}
<nav class="section-navigation">
  <ul class="nav nav-pills">
      {% block header_site_navigation_tabs %}
{{ h.build_nav_main(
  ('dataset.search', _('Datasets')),
  ('organization.index', _('Organizations')),
  ('group.index', _('Groups')),
  ('home.about', _('About')) ) }}
{% endblock %}
  </ul>
</nav>
{% endblock %} 

{% block header_site_search %}
{% endblock %}