{% ckan_extends %}
{% block primary_content %}
  <div role="main" class="hero">
    <div class="overlay"></div>
        <div class="hero">
            <div class="header-text">
                <div class="col-md-12">
                    <div class="container">
                      <h1>Bulkley Valley Research Centre Data Hub</h1>
                      <p>A centralized platform to manage research data related to the natural resources sector.</p>
                      {% block search %}
                      {% snippet 'home/snippets/search.html' %}
                      {% endblock %}
                    </div>
                </div>
            </div>
        </div>
  </div>
  
  <!-- <div class="container-search">
    <div class="row">
        <div class="col-md-12">
          <div class="container">
            
          </div>
        </div>
    </div>
  </div> -->
 
  <section id="section-datahub">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col1">
          <img class="img-box" src="img/dhub-square.jpg" alt="BVRC Data Hub">
        </div>
        <div class="col-md-6 col2">
          <div class="abt-heading">The Data Hub</div>
          <div class="abt-body">
            The BVRC datahub is a centralized platform that stores, manages, and shares research data on natural and cultural resources, providing a collaborative space for researchers from the BVRC and other institutions to access, exchange, and utilize valuable information pertaining to species and ecosystems at risk, conservation, sustainability, and a wide range of similar research.                  
          </div>
          <div class="abt-button"><a class="btn-blue" href="/about">Learn More</a></div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-bvrc">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col1">
          <div class="abt-heading">The Centre</div>
          <div class="abt-body">
            The Bulkley Valley Research Centre (BVRC) is an independent, not-for-profit society conducting high-quality, interdisciplinary research on natural and cultural resources. We create learning and extension opportunities for both our members and the community through workshops, conferences and other networking events, and support our community by promoting the region and investing locally. Our purpose is to provide the science required for sustainable resource management.                  
          </div>
          <div class="abt-button"><a class="btn-blue" href="/bvrc">Learn More</a></div>
        </div>
        <div class="col-md-6 col2">
          <img class="img-box" src="img/bvrc-square.jpg" alt="BVRC">
        </div>
      </div>
    </div>
  </section>

  <section id="funding-partners">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <div class="heading">Funding Partners</div>
          <div class="partner-imgs">
            <a href="https://www.rbc.com/community-social-impact/climate/environmental-donations/index.html" target="_blank"><img class="rbc" src="img/rbc-tfn.png" alt="RBC Tech For Nature"></a>
            <a href="https://pics.uvic.ca/" target="_blank"><img class="pics" src="img/pics-logo.png" alt="PICS"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
